
<div class="title">
  <h1><span class="glyphicon glyphicon-user"></span> <%=@landlord.full_name%></h1> 
</div>
<div class="landlord">
  <div class="row total-ratings-row">
    <div class = "col-sm-4 beer-image-column text-center">
      <%if @landlord.friendly%>
        <img class = "beer-image"src="/images/beer-icon.png">
      <%else%>
        <img class = "beer-image"src="/images/empty-beer-icon.png">
      <%end%>
    </div>
    <div class = "rating-bar col-sm-8">
      <p class= "rating-title">Total Rating:</p>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%=(@landlord.average_rating * 0)%>" style="width: <%=(@landlord.average_rating * 20)%>%"> <%= @landlord.average_rating %></div>
      </div>

      <div class = "sub-rating">
        <p class= "rating-title">Communication:</p>
        <div class="progress progress-orange">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%=(@landlord.average_rating * 0)%>" style="width: <%=(@landlord.average_rating * 20)%>%"> <%= @landlord.average_rating %></div>
        </div>
      </div>

      <div class = "sub-rating">
        <p class= "rating-title">Helpfulness:</p>
        <div class="progress progress-orange">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%=(@landlord.average_rating * 0)%>" style="width: <%=(@landlord.average_rating * 20)%>%"> <%= @landlord.average_rating %></div>
        </div>
      </div>

      <div class = "sub-rating">
        <p class= "rating-title">Reliability:</p>
        <div class="progress progress-orange">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%=(@landlord.average_rating * 0)%>" style="width: <%=(@landlord.average_rating * 20)%>%"> <%= @landlord.average_rating %></div>
        </div>
      </div>

    </div>
  </div>

<div class="login-form">
    <div class="panel panel-primary">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <form method="post" action="/landlords/<%= params[:id]%>/ratings">
          <input style="display: none;" type="text" name="landlord_id" value="<%=params[:id]%>">
          <div class="form-group">
            <label>Communication:</label>
              <input type="number" min="1" max="5" class="form-control" name="communication" value="<%= @rating.communication %>" >
          </div>
          <div class="form-group">
            <label>Helpfulness:</label>
              <input type="number" min="1" max="5" class="form-control" name="helpfulness" value="<%= @rating.helpfulness %>" >
          </div>
          <div class="form-group">
            <label>Reliability:</label>
              <input type="number" min="1" max="5" class="form-control" name="reliability" value="<%= @rating.reliability %>" >
          </div>
          <div class="form-group">
            <label>friendly:</label>
              <input type="text" class="form-control" name="friendly" value="<%= @rating.friendly %>" >
          </div>
          <div class="form-group">
            <label>Comment:</label>
              <textarea name="comment" rows="10" cols="30" class="form-control" value="<%= @rating.comment %>" ></textarea>
          </div>
          <input type="submit" value="Add Rating">
        </form>
      </div>
    </div>
</div>