<br>
<br>
<br>

<!-- <input id="input-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="lg" >
<script type="javascript">$("#input-id").rating(size:'xs');</script> -->


<div class="login-form">
    <div class="panel panel-primary">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <form method="post" action="/landlords/<%= params[:id]%>/ratings">
          <input style="display: none;" type="text" name="landlord_id" value="<%=params[:id]%>">
          <div class="form-group">
            <label>Communication:</label>
              <input type="number" min="1" max="5" class="form-control" name="communication" value="<%= @rating.communication %>" >
          </div>
          <div class="form-group">
            <label>Helpfulness:</label>
              <input type="number" min="1" max="5" class="form-control" name="helpfulness" value="<%= @rating.helpfulness %>" >
          </div>
          <div class="form-group">
            <label>Reliability:</label>
              <input type="number" min="1" max="5" class="form-control" name="reliability" value="<%= @rating.reliability %>" >
          </div>
          <div class="form-group">
            <label>friendly:</label>
              <input type="text" class="form-control" name="friendly" value="<%= @rating.friendly %>" >
          </div>
          <div class="form-group">
            <label>Comment:</label>
              <textarea name="comment" rows="10" cols="30" class="form-control" value="<%= @rating.comment %>" ></textarea>
          </div>
          <input type="submit" value="Add Rating">
        </form>
      </div>
    </div>
</div>