<div class="title">
  <h1><span class="glyphicon glyphicon-search"></span>  Search</h1> 
</div>


<div class = "landlord-holder">

  <%if @search_results.empty?%>
  <div class="no-results">
    <h1>No results found!</h1>
  </div>
  <%end%> 

  <%@search_results.each do |landlord|%>
  	<!-- <div class="landlord">

        <div class = "ratings col-sm-6">
          <p>
            Total Rating:
          </p>
          <div class="progress total-rating">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%=(landlord.average_rating * 0)%>" style="width: <%=(landlord.average_rating * 20)%>%"> <%= landlord.average_rating %> 
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow=""
            aria-valuemin="0" aria-valuemax="100" style="width:60%">
          </div>
        </div>
          </div>
          <p>
            Communication:
          </p>
          <p>
            Helpfulness:
          </p>
          <p>
            Reliability: 
          </p>
        </div>

  			<h3>
  				Name: <%=landlord.full_name%>
  			</h3>

        <div class = "btn-details">
          <a href="/landlords/<%= landlord.id %>" class="btn-lg btn-info" role="button"> More Details</a>
        </div>
  	 --></div>
  <%end%>
</div>
