<div class="title">
  <h1><span class="glyphicon glyphicon-user"></span> <%=@landlord.full_name%></h1> 
</div>

<div class="landlord">

  <div class="row total-ratings-row">
    <div class = "col-sm-4 beer-image-column text-center">
      <%if @landlord.friendly%>
        <img class = "beer-image"src="/images/beer-icon.png">
      <%else%>
        <img class = "beer-image"src="/images/empty-beer-icon.png">
      <%end%>
    </div>

    <div class = "rating-bar col-sm-8">
      <p class= "rating-title">Total Rating:</p>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: <%=(@landlord.average_rating * 20)%>%"><h1><%= @landlord.average_rating.round(2) %></h1></div>
      </div>

      <div class = "sub-rating">
        <p class= "rating-title">Communication:</p>
        <div class="progress progress-orange">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%=(@landlord.average_communication * 20)%>%"><h1><%= @landlord.average_communication.round(2) %></h1></div>
        </div>
      </div>

      <div class = "sub-rating">
        <p class= "rating-title">Helpfulness:</p>
        <div class="progress progress-orange">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%=(@landlord.average_helpfulness * 20)%>%"><h1><%= @landlord.average_helpfulness.round(2)%></h1></div>
        </div>
      </div>

      <div class = "sub-rating">
        <p class= "rating-title">Reliability:</p>
        <div class="progress progress-orange">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%=(@landlord.average_reliability * 20)%>%"><h1><%= @landlord.average_reliability.round(2) %></h1></div>
        </div>
      </div>
      <div class="sub-rating">
      	<p style="float:right; color: rgb(150, 228, 212); font-size:18px"><%= @landlord.ratings.length%> Reviews </p>
      </div>
    </div>
  </div>

  <hr/>
  
  <div class="row">
    <div class="col-sm-4 col-address-title">
      <h1 style="margin-left:15px; margin-top:0px;">Addresses:</h1>
    </div>

    <div class="col-sm-4">
    </div>


    <div class="col-sm-4 col-address-button">
    </div>
  </div>

  <%@landlord.addresses.each do |address|%>
    <%full_address = (address.street_number.to_s + " " + address.street_name + ", " + address.city)%>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#<%=address.id%>mapModal"><%=full_address%></button>

    <div id="<%=address.id%>mapModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="color:black;"><%=full_address%></h4>
          </div>
          <div class="modal-body">
            <iframe width="600" height="450" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyApGvPQVEWf6tQxHA1y4UQyY14Fq9KSEFk&q=<%= full_address %>">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  <%end%>

  <hr/>

  
  <div class = "row address-list">

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span>   Add Address</button>

  	<div id="myModal" class="modal fade" role="dialog">
  	  <div class="modal-dialog">


  	    <div class="modal-content">
  	   
  	      <div class="modal-body">
  	        <%= erb :"/addresses/new" %>
  	      </div>
  	      <div class="modal-footer">
  	        <button type="button" class="btn btn-default btn-form" data-dismiss="modal">Close</button>
  	      </div>
  	    </div>
  	  </div>
  	</div>

	   <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#ratingModal"><span class="glyphicon glyphicon-plus"></span>   Add Rating</button>

  	<div id="ratingModal" class="modal fade" role="dialog">
  	  <div class="modal-dialog">

  	    <div class="modal-content">
  	      <div class="modal-body">
  	        <%= erb :"/ratings/new" %>
  	      </div>
  	      <div class="modal-footer">
  	        <button type="button" class="btn btn-default btn-form" data-dismiss="modal">Close</button>
  	      </div>
  	    </div>
  	  </div>
  	</div>
  </div>
</div>



