<%=display_error_landlord_exists%>
<div class="title">
  <h2 class="title-name"><span class="glyphicon glyphicon-user"></span> <%=@landlord.full_name%></h2> 
</div>

<% if current_user %>
  <div class="landlord-invisible">
    <div class="row row-address row-add-rating">
      <div class="col-sm-4 col-address-title"></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4 col-address-button">
        <button type="button" class="btn btn-info btn-lg btn-add add-black-btn" data-toggle="modal" data-target="#ratingModal"><span class="glyphicon glyphicon-plus add-black-btn"></span>   Add Rating</button>
      </div>
    </div>
  </div>
<% else %>
  <br/>
<% end %>

<div class="landlord">

  <div class="row total-ratings-row">
    <div class = "col-sm-4 beer-image-column text-center">
    <p class= "rating-title"><center>Friendly?</center></p>
      <%if @landlord.friendly%>
        <img class = "beer-image"src="/images/beer-icon.png">
      <%else%>
        <img class = "beer-image"src="/images/empty-beer-icon.png">
      <%end%>
    </div>

    <div class = "rating-bar col-sm-8">
      <p class= "rating-title">Total Rating:</p>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: <%=(@landlord.average_rating * 20)%>%"><h1><%= @landlord.average_rating.round(2) %></h1></div>
      </div>

      <div class = "sub-rating">
        <p class= "rating-title">Communication:</p>
        <div class="progress progress-orange">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%=(@landlord.average_communication * 20)%>%"><h1><%= @landlord.average_communication.round(2) %></h1></div>
        </div>
      </div>

      <div class = "sub-rating">
        <p class= "rating-title">Helpfulness:</p>
        <div class="progress progress-orange">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%=(@landlord.average_helpfulness * 20)%>%"><h1><%= @landlord.average_helpfulness.round(2)%></h1></div>
        </div>
      </div>

      <div class = "sub-rating">
        <p class= "rating-title">Reliability:</p>
        <div class="progress progress-orange">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%=(@landlord.average_reliability * 20)%>%"><h1><%= @landlord.average_reliability.round(2) %></h1></div>
        </div>
      </div>
      <div class="sub-rating">
      <% if @landlord.ratings.length == 1 %>
       	<p style="float:right; color: rgb(150, 228, 212); font-size:18px"><%= @landlord.ratings.length%> Rating </p>
      <% else %>
      	<p style="float:right; color: rgb(150, 228, 212); font-size:18px"><%= @landlord.ratings.length%> Ratings </p>
      <% end %>
      </div>
    </div>
  </div>

  <hr/>
  
  <div class="row row-address">
    <div class="col-sm-4 col-address-title">
      <h1 style="margin-left:15px; margin-top:0px;">Addresses:</h1>
    </div>
    <div class="col-sm-4"></div>
    <% if current_user %>
      <div class="col-sm-4 col-address-button">
        <button type="button" class="btn btn-info btn-lg btn-add add-orange-btn" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus add-orange-btn"></span>   Add Address</button>
      </div>
    <% end %>
  </div>


  <div class="address-buttons-list">
    <%@landlord.addresses.each do |address|%>
      <%if address.unit_number?%>
        <%full_address = ("#" + address.unit_number.to_s + ", " + address.street_number.to_s + " " + address.street_name.split.map(&:capitalize).join(' ') + ", " + address.city.capitalize)%>
      <%else%>
        <%full_address = (address.street_number.to_s + " " + address.street_name.split.map(&:capitalize).join(' ') + ", " + address.city.capitalize)%>
      <%end%>

      <button type="button" class="btn-info btn-lg btn-address" data-toggle="modal" data-target="#<%=address.id%>mapModal"><%=full_address%></button>

      <div id="<%=address.id%>mapModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content" >
            <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
              <iframe width="580" height="470" frameborder="0" style="border:0; margin:-10px;"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyApGvPQVEWf6tQxHA1y4UQyY14Fq9KSEFk&q=<%= (address.street_number.to_s + " " + address.street_name + ", " + address.city) %>">
              </iframe>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>

  <hr/>

  <div class="row row-address">
    <div class="col-sm-4 col-address-title">
      <h1 style="margin-left:15px; margin-top:0px;">Comments:</h1>
    </div>    
  </div>

  <div class="container">
    <%@landlord.ratings.each do |rating|%>
      <%if rating.comment?%>
        <%comment = rating.comment%>
        <%user_total_avg = (rating.communication + rating.helpfulness + rating.reliability)/3%>

        <div class="panel panel-default comment-panel">
          <div class="panel-body comment-panel-body" style="color:black;">
            <div class = "col-sm-6 comment">
              <p><%=comment%></p>
            </div>          

            <div class = "rating-bar col-sm-6">

              <p class= "rating-title">Total Rating:</p>
              <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: <%=(user_total_avg * 20)%>%"><h1><%= user_total_avg.round(2) %></h1></div>
              </div>

              <div class = "sub-rating">
                <p class= "rating-title">Communication:</p>
                <div class="progress progress-orange">
                  <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%=(rating.communication * 20)%>%"><h1><%= rating.communication.round(2) %></h1></div>
                </div>
              </div>

              <div class = "sub-rating">
                <p class= "rating-title">Helpfulness:</p>
                <div class="progress progress-orange">
                  <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%=(rating.helpfulness * 20)%>%"><h1><%= rating.helpfulness.round(2)%></h1></div>
                </div>
              </div>

              <div class = "sub-rating">
                <p class= "rating-title">Reliability:</p>
                <div class="progress progress-orange">
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%=(rating.reliability * 20)%>%"><h1><%= rating.reliability.round(2) %></h1></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= erb :"/addresses/new" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-form" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="ratingModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= erb :"/ratings/new" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-form" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



