<div class="title">
  <h1><span class="glyphicon glyphicon-user"></span> <%=@landlord.full_name%></h1> 
</div>

<div class="landlord">

  <div class="row total-ratings-row">
    <div class = "col-sm-4 beer-image-column text-center">
      <%if @landlord.friendly%>
        <img class = "beer-image"src="/images/beer-icon.png">
      <%else%>
        <img class = "beer-image"src="/images/empty-beer-icon.png">
      <%end%>
    </div>

    <div class = "rating-bar col-sm-8">
      <p class= "rating-title">Total Rating:</p>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: <%=(@landlord.average_rating * 20)%>%"><h1><%= @landlord.average_rating %></h1></div>
      </div>

      <div class = "sub-rating">
        <p class= "rating-title">Communication:</p>
        <div class="progress progress-orange">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%=(@landlord.average_communication * 20)%>%"><h1><%= @landlord.average_communication %></h1></div>
        </div>
      </div>

      <div class = "sub-rating">
        <p class= "rating-title">Helpfulness:</p>
        <div class="progress progress-orange">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%=(@landlord.average_helpfulness * 20)%>%"><h1><%= @landlord.average_helpfulness%></h1></div>
        </div>
      </div>

      <div class = "sub-rating">
        <p class= "rating-title">Reliability:</p>
        <div class="progress progress-orange">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%=(@landlord.average_reliability * 20)%>%"><h1><%= @landlord.average_reliability %></h1></div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span>   Add Address</button>

	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <div class="modal-content">
	   
	      <div class="modal-body">
	        <%= erb :"/addresses/new" %>
	      </div>
	      <div class="modal-footer">
	      	<input type="submit" class="btn btn-default btn-form" value="Add Address" style="float: left;">
	        <button type="button" class="btn btn-default btn-form" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#ratingModal"><span class="glyphicon glyphicon-plus"></span>   Add Rating</button>

	<div id="ratingModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <div class="modal-content">
	      <div class="modal-body">
	        <%= erb :"/ratings/new" %>
	      </div>
	      <div class="modal-footer">
	      	<input type="submit" class="btn btn-default btn-form" value="Add Rating" style="float: left;">
	        <button type="button" class="btn btn-default btn-form" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>



