<div class="title">
  <h1><span class="glyphicon glyphicon-user"></span> <%=@landlord.full_name%></h1> 
</div>

<div class="landlord">

  <div class="row total-ratings-row">
    <div class = "col-sm-4 beer-image-column text-center">
      <%if @landlord.friendly%>
        <img class = "beer-image"src="/images/beer-icon.png">
      <%else%>
        <img class = "beer-image"src="/images/empty-beer-icon.png">
      <%end%>
    </div>

    <div class = "rating-bar col-sm-8">
      <p class= "rating-title">Total Rating:</p>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: <%=(@landlord.average_rating * 20)%>%"><h1><%= @landlord.average_rating %></h1></div>
      </div>

      <div class = "sub-rating">
        <p class= "rating-title">Communication:</p>
        <div class="progress progress-orange">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%=(@landlord.average_communication * 20)%>%"><h1><%= @landlord.average_communication %></h1></div>
        </div>
      </div>

      <div class = "sub-rating">
        <p class= "rating-title">Helpfulness:</p>
        <div class="progress progress-orange">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%=(@landlord.average_helpfulness * 20)%>%"><h1><%= @landlord.average_helpfulness%></h1></div>
        </div>
      </div>

      <div class = "sub-rating">
        <p class= "rating-title">Reliability:</p>
        <div class="progress progress-orange">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%=(@landlord.average_reliability * 20)%>%"><h1><%= @landlord.average_reliability %></h1></div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class = "row address-list">

    <div class = "col-sm-12 address-new-button">
      <form method="get" action="/landlords/<%=params[:id]%>/addresses/new">
        <input style="display: none;" type="text" name="landlord_id" value="<%=params[:id]%>">
        <input type="submit" value="Add Landlord Address" class="btn btn-address-form">
      </form>
    </div>

    <div class = "col-sm-12 address-new-button">
      <form method="get" action="/landlords/<%=params[:id]%>/ratings/new">
        <input style="display: none;" type="text" name="landlord_id" value="<%=params[:id]%>">
        <input type="submit" value="Add Rating" class="btn btn-address-form">
      </form>
    </div>
  </div>

  <hr/>
</div>



